pytransloadit==0.1.12
transloadit==1.0.1
boto3==1.17.69
botocore==1.20.69
certifi==2020.12.5
chardet==4.0.0
future==0.18.2
idna==2.10
jmespath==0.10.0
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
tinydb==4.4.0
tuspy==0.2.4
urllib3==1.26.4
